@model BlogApplication.Models.Post

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<head>
    <meta charset="UTF-8">


    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


    <!-- Stylesheets -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/ionicons/ionicons.css" rel="stylesheet" />
    <link href="~/css/details/responsive.css" rel="stylesheet" />
    <link href="~/css/details/styles.css" rel="stylesheet" />

    <style>
        body, input, select, textarea {
            color: #646464;
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-size: 14pt;
            font-weight: 400;
            line-height: 1.75;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #3c3b3b;
            font-family: "Raleway", Helvetica, sans-serif;
            font-weight: 800;
            letter-spacing: 0.25em;
            line-height: 1.65;
            margin: 0 0 1em 0;
            text-transform: uppercase;
        }

            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
                color: inherit;
                border-bottom: 0;
            }

        h2 {
            font-size: 1.1em;
        }

        h3 {
            font-size: 0.9em;
        }

        h4 {
            font-size: 0.7em;
        }

        h5 {
            font-size: 0.7em;
        }

        h6 {
            font-size: 0.7em;
        }

        
    </style>

</head>

<body>



    <div class="slider">

    </div><!-- slider -->

    <section class="post-area">
        <div class="container">

            <div class="row">

                <div class="col-lg-1 col-md-0"></div>
                <div class="col-lg-10 col-md-12">

                    <div class="main-post">

                        <div class="post-top-area">

                            <h5 class="pre-title">@Html.DisplayFor(model => model.Categories)</h5>

                            <h3 class="title"><a href="#"><b>@Html.DisplayFor(model => model.Title)</b></a></h3>

                            <div class="post-info">

                                @*<div class="left-area">
                                    <a class="avatar" href="#"><img src="~/images/DefaultIcon.png" alt="Profile Image"></a>
                                </div>*@

                                <div class="left-area">
                                    <a class="name" href="#"><b>@Html.DisplayFor(model => model.Author)</b></a>
                                    <h6 class="date">on @Html.DisplayFor(model => model.CreateTime)</h6>
                                </div>

                            </div><!-- post-info -->

                            <p class="para">
                                @Html.DisplayFor(model => model.Content)
                            </p>

                        </div><!-- post-top-area -->



                        @*<div class="post-bottom-area">


                            <div class="post-icons-area">
                                <ul class="post-icons">
                                    <li><a href="#"><ion-icon name="heart"></ion-icon>TODO : LIKED</a></li>
                                    <li><a href="#"><ion-icon name="chatbubbles"></ion-icon>TODO : COMMENTS</a></li>
                                    <li><a href="#"><ion-icon name="eye"></ion-icon>TODO: VIEWS</a></li>
                                </ul>

                                <ul class="icons">
                                    <li>SHARE : </li>
                                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                                </ul>
                            </div>

                            <div class="post-footer post-info">

                                <div class="left-area">
                                    <a class="avatar" href="#"><img src="~/images/DefaultIcon.png" alt="Profile Image"></a>
                                </div>

                                <div class="middle-area">
                                    <a class="name" href="#"><b>@Html.DisplayFor(model => model.Author)</b></a>
                                    <h6 class="date">on @Html.DisplayFor(model => model.CreateTime)</h6>
                                </div>

                            </div><!-- post-info -->

                        </div><!-- post-bottom-area -->*@

                    </div><!-- main-post -->
                </div><!-- col-lg-8 col-md-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- post-area -->



    <section class="comment-section center-text">
        <p>	&#160;</p>
        @{
            await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.PostId, MainCommentId = 0 });
        }

        <h4><b>COMMENTS(TODO : TOTAL COMMENTS NUMBER)</b></h4>

        @foreach (var comment in Model.MainComments)
        {
        <div class="commnets-area text-left">

            <div class="comment">

                <div class="post-info">

                    <div class="left-area">
                        <a class="avatar" href="#"><img src="~/images/DefaultIcon.png" alt="Profile Image"></a>
                    </div>

                    <div class="middle-area">
                        <a class="name" href="#"><b>@comment.Author</b></a>
                        <h6 class="date">on @comment.CreatedTime </h6>
                    </div>

                    <div class="right-area">
                        <h5 class="reply-btn" onclick="replyFunction(@comment.Id)" style="cursor: pointer;"><b>REPLY</b></h5>
                    </div>

                </div><!-- post-info -->

                <p>
                    @comment.Message
                </p>

            </div>

            <div id="@comment.Id" style="display: none;">
                @{
                    await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.PostId, MainCommentId = comment.Id });
                }

            </div>

  
                 

            @foreach (var sc in comment.SubComments)
            {



                <div class="comment">


                    <div class="post-info">

                        <div class="left-area">
                            <a class="avatar" href="#"><img src="~/images/DefaultIcon.png" alt="Profile Image"></a>
                        </div>

                        <div class="middle-area">
                            <a class="name" href="#"><b>@sc.Author</b></a>
                            <h6 class="date">on @sc.CreatedTime</h6>
                        </div>


                    </div><!-- post-info -->

                    <p>
                        @sc.Message
                    </p>

                </div>
            }
        </div>
        }
    </section>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    <script>
        function replyFunction(i) {
            var x = document.getElementById(i);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>
